- name: Check if jira-cli is installed
  ansible.builtin.command: which jira
  register: jira_check
  changed_when: false
  failed_when: false

- name: Clone jira-cli from AUR
  ansible.builtin.git:
    repo: https://aur.archlinux.org/jira-cli.git
    dest: /tmp/jira-cli-build
  become: true
  become_user: "{{ username }}"
  when: jira_check.rc != 0

- name: Build jira-cli
  ansible.builtin.command: makepkg --noconfirm
  args:
    chdir: /tmp/jira-cli-build
  become: true
  become_user: "{{ username }}"
  changed_when: true
  when: jira_check.rc != 0

- name: Install jira-cli package
  ansible.builtin.shell: pacman -U --noconfirm /tmp/jira-cli-build/jira-cli-*.pkg.tar.zst
  changed_when: true
  when: jira_check.rc != 0

- name: Clean up jira-cli build
  ansible.builtin.file:
    path: /tmp/jira-cli-build
    state: absent
  when: jira_check.rc != 0
