- name: Install zsh
  ansible.builtin.package:
    name: zsh
    state: present

- name: Set zsh as default shell
  ansible.builtin.user:
    name: "{{ target_user }}"
    shell: /usr/bin/zsh

- name: Deploy .zshrc
  ansible.builtin.template:
    src: zshrc.j2
    dest: "/home/{{ target_user }}/.zshrc"
    owner: "{{ target_user }}"
    mode: "0644"
  become: true
  become_user: "{{ target_user }}"
