- name: Include distro-specific install
  ansible.builtin.include_tasks: "{{ ansible_os_family | lower }}.yml"

- name: Enable and start tailscaled
  ansible.builtin.systemd:
    name: tailscaled
    enabled: true
    state: started

- name: Check tailscale status
  ansible.builtin.command: tailscale status --json
  register: tailscale_status
  changed_when: false
  failed_when: false
  check_mode: false

- name: Authenticate tailscale
  ansible.builtin.command: tailscale up --authkey={{ tailscale_authkey }}
  when: >
    tailscale_status.rc != 0 or
    (tailscale_status.stdout | from_json).BackendState != "Running"
  changed_when: true
  no_log: true
