- name: Include distro-specific docker install
  ansible.builtin.include_tasks: "{{ ansible_os_family | lower }}.yml"

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ username }}"
    groups: docker
    append: true

- name: Enable and start docker
  ansible.builtin.systemd:
    name: docker
    enabled: true
    state: started
