- name: Install Arch-specific packages
  community.general.pacman:
    name: "{{ base_packages_archlinux }}"
    state: present

- name: Check if yay is installed
  ansible.builtin.command: which yay
  register: yay_check
  changed_when: false
  failed_when: false

- name: Install yay build dependencies
  community.general.pacman:
    name: [go, base-devel]
    state: present
  when: yay_check.rc != 0

- name: Clone yay
  ansible.builtin.git:
    repo: https://aur.archlinux.org/yay.git
    dest: /tmp/yay-build
    version: v12.5.7  # pinned for reproducibility; bump as needed
  become: true
  become_user: "{{ username }}"
  when: yay_check.rc != 0

- name: Build yay
  ansible.builtin.command: makepkg --noconfirm
  args:
    chdir: /tmp/yay-build
  become: true
  become_user: "{{ username }}"
  changed_when: true
  when: yay_check.rc != 0

- name: Install yay package
  ansible.builtin.shell: pacman -U --noconfirm /tmp/yay-build/yay-*.pkg.tar.zst
  changed_when: true
  when: yay_check.rc != 0

- name: Clean up yay build
  ansible.builtin.file:
    path: /tmp/yay-build
    state: absent
  when: yay_check.rc != 0
