- name: Install Arch-specific packages
  community.general.pacman:
    name: "{{ base_packages_archlinux }}"
    state: present

- name: Check if yay is installed
  ansible.builtin.command: which yay
  register: yay_check
  changed_when: false
  failed_when: false

- name: Install yay (AUR helper)
  when: yay_check.rc != 0
  become: true
  become_user: "{{ username }}"
  block:
    - name: Clone yay
      ansible.builtin.git:
        repo: https://aur.archlinux.org/yay.git
        dest: /tmp/yay-build
    - name: Build and install yay
      ansible.builtin.command: makepkg -si --noconfirm
      args:
        chdir: /tmp/yay-build
    - name: Clean up yay build
      ansible.builtin.file:
        path: /tmp/yay-build
        state: absent
