- name: Install Debian-specific packages
  ansible.builtin.apt:
    name: "{{ base_packages_debian }}"
    state: present
    update_cache: true

- name: Install kubectl
  ansible.builtin.shell: |
    curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.32/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.32/deb/ /' > /etc/apt/sources.list.d/kubernetes.list
    apt-get update && apt-get install -y kubectl
  args:
    creates: /usr/bin/kubectl
